body{
    background-image: url('../img/background.jpg');
    background-position: 50% 50%;
    -webkit-background-size:cover;
    background-size: cover;

}

#Dlogo{

    margin: 5% auto;
    margin-left: -2%;
    text-align: center;
    transition: margin 0.5s ;
}
.logo {
    margin: 10px auto;
    height: 62px;
}
#Search{

    margin: -3% auto;
    transition:margin 0.5s ;
    text-align: center;
}

#WebSite{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    font-family: fantasy;
}
#Submit{
    display:inline;
    position: relative;
    left:20px;
    width: 40px;
    height: 20px;
    font-size: medium;
}
#ScreenShot{
    visible:hidden;
    position:relative;
    height: 300px;
    width:300px;
    top:100px;
    margin:0 auto;

}
html, body{
    width: 100%;
    height: 100%;

}

